*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 130px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header .navlinks a{
    text-decoration: none;
    font-size: 20px;
    padding-inline: 40px;
    border-right: 3px solid rgb(0, 0, 0);
    color: black;
}

.header .navlinks #bn{
    border: none;
}

.header .navicon i{
    font-size: 20px;
    margin-left: 70px;
    position: relative;
    top: 5px;
}

.header .navlinks a:hover{
    color: #fc0254;
    text-decoration: underline;
}

.header .navicon i:hover{
    color: #fc0254;
    cursor: pointer;
}

.img{
    margin-inline: 80px;
    margin-block: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img .b1 .bb1 img{
    width: 100%;
    margin-bottom: 30px;
}
.img .b1{
    width: 33%;
   
}

.img .b1 .bb1{
    margin: 10px;
    margin-bottom: 100px;
}

.b1{
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: 50px;
}

.main{
    width: 55%;
    padding-inline: 20px;
   margin-right: 40px;

}
.main img{
    width: 100%;
    margin-bottom: 50px;
}
.bu{
    width: 110px;
    height: 30px;
    font-size: 13px;
    font-weight: 700;
    background-color: #fc0254;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.side{
    width: 45%;
   display: flex;
   flex-direction: column;
   /* border: 1px solid; */

}
.side .s1{
    display: flex;
    flex-direction: row;

}

.side .s1 .bf {
    width: 70%;
}

.side .s1 .bf img {
    width: 100%;
    margin-bottom: 50px;
}

.side .s1 .gf{
    margin-block: 10px;
    margin-left: 30px;
    
}

.side .s1 .gf h1{
    font-size: 23px;
}
.ig{
    margin-block: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.ig .in{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ig .in button{
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    background-color: #fc0254;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-right: 100px;
    cursor: pointer;
   
}

#nb{
    margin-right: 0px;
}

.ig .mig{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    
}
.ig .mig .mig1{
    width: 16%;
    margin-right: 30px;
}
.ig .mig .mig1 img{
    width: 100%;
    height: 250px;
}

#nb2{
    margin-right: 0px;
}
.ig .mig .mig1 p{
    margin-top: 30px;
}
.br{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    margin-bottom: 100px;
    width: 100%;
    justify-content: center;

}
.br .br1{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-right: 30px;
}
.br .br1 .bimg  {
    width: 80%;
    margin-right: 40px;
}
.br .br1 .bimg img {
    border-radius: 50%;
    width: 100%;
}
.br .br1 .btext h1{
    font-size: 25px;

}
#ibr{
    margin-right: 0px;
}
.br .br1 .btext{
    width: 80%;
    margin-top: 40px;
}

.footer{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    background-color: #eaedf2;
}
.footer .left{
    width: 35%;
    margin-inline: 80px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    
}
.footer .left .top{
    margin-top: 100px;
    margin-bottom: 50px;
}
.footer.left .top img{
    width: 45%;
}

.right{
    display: flex;
    flex-direction: column;
}
.right .rhead{
    margin-top: 120px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 100px;
    font-weight: 300;
    
}
.right .rbody {
    display: flex;
    flex-direction: row;
}
.right .rbody .rleft input{
    height: 80px;
    width: 300px;
    margin-left: 100px;
    text-align: center;
    border: none;
    font-style: italic;
    font-size: 20px;
}
.right .rbody .rright button{
    height: 80px;
    width: 200px;
    background-color: #fc0254;
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-left: 30px;
    border: none;
    cursor: pointer;
}
.right .rfoot{
    font-size: 17px;
    margin-block: 80px;
    margin-left: 80px;
    
}
.right .rfoot a{
    text-decoration: none;
    color: gray;
}

.right .rfoot i{
    margin-inline: 30px;
    
}
.right .rfoot .rfi{
    margin-bottom: 30px;
    width: 600px;
}
.right .rfoot i:hover{
    color: rgb(46, 132, 224);
}

span{
    margin-left: 0px
}